<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2025-11-17T07:41:41Z</date>
	<key>WorkspacePath</key>
	<string>/Volumes/external/Users/lixin/Documents/external/FlutterWorkspace/aspect_frontend_server/example/macos/Runner.xcworkspace</string>
</dict>
</plist>
